.main-container {
	margin-top: 20px;
}

.ctn-img-logo {
  text-align: right;
}

.ctn-img-logo img {
  max-width: 90%;
  width: 100px;
}

.btn-back {
  margin: 2em 0;
}

/* Animaciones */
.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.fast {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.fadein {
	animation-name: fadein;
	opacity: 0;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .title-description-heroe {
    text-align: center;
  }
}